name: Tests

on:
  pull_request:
  push:
    # trying and staging branches are for BORS config
    branches:
      - trying
      - staging
      - main

jobs:
  linter_check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Install dependencies
        run: yarn --dev
      - name: Run style check
        run: yarn lint
  cypress-run:
    runs-on: ubuntu-latest
    container:
      image: cypress/browsers:node16.14.2-slim-chrome100-ff99-edge
      options: --user 1001
    services:
      meilisearch:
        image: getmeili/meilisearch:v0.28.0
        env:
          MEILI_MASTER_KEY: 'masterKey'
          MEILI_NO_ANALYTICS: 'true'
        ports:
          - '7700:7700'
    steps:
      - uses: actions/checkout@v3
      - name: Setup node and cache
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'yarn'
          cache-dependency-path: yarn.lock
      - name: Install dependencies
        run: yarn
      - name: Browser tests
        uses: cypress-io/github-action@v4
        env:
          CYPRESS_MEILISEARCH_HOST: http://meilisearch:7700
          CYPRESS_MEILISEARCH_API_KEY: 'masterKey'
        with:
          start: yarn ci:dev
          wait-on: 'http://localhost:3000'
          command: yarn cy:run
          config-file: cypress.config.js
      - uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: cypress-screenshots
          path: cypress/screenshots
      - uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: cypress-videos
          path: cypress/videos
